table{
	text-align: center;
	margin: auto;
	
}

h1{
	margin: center;
	color:orange;
	text-align: center
}

td{
	border: 2px inset;
	padding: 3px;
	margin: 2px;
	color: white;
	font-style:Times New Roman;
}
body{
	
	background-image: url(https://media.giphy.com/media/dVjsehrqKgK7S/giphy.gif)
}
address{
	color: white;
}
#google{
	color: blue;
}